body {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  min-width: 80vw;
  /* color: blueviolet; */
  /* background-color: rgb(219, 55, 55); */
}



.myContainer {
  display: flex;
  /* background-color: rgba(200, 5, 5, alpha); */
  /* background-color: antiquewhite; */
  justify-content: center;
  align-items: center;
  min-width: 20vw;
  min-height: 20vh;
}